FactoryOrderApp/order.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="naziv" type="xs:string"/>
        <xs:element name="ukupanBroj" type="xs:int"/>
        <xs:element name="naruceniBroj" type="xs:int"/>
        <xs:element name="email" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>